.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.inputField {
  width: 350;
  padding-left: 7.5;
  border-radius: 10;
  border: '1px lightgrey solid';
  margin-bottom: 10;
  font-size: 18;
}
